@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

:root {
  --red: #fc564d;
  --blue: #5519ff;
  --yellow: #fff400;
  --orange: #e8a132;
  --purple: #d90968;
  --green: #99c90b;
}
body,
html {
  font-family: "Londrina Solid";
  height: 50%;
  margin: 0 auto;
  position: relative;
  background-color: #fff400;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23e8a132' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

/*Title */
.title {
  height: 4vw;
  background-image: url("logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  filter: blur(5px);
  opacity: 0.7;
  pointer-events: none;
  animation-duration: 1s;
}

/* Rtable unblur animation */
@keyframes unBlur {
  0% {
    filter: blur(5px);
    opacity: 0.7;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.Rtable-cell {
  box-sizing: border-box;
  flex-wrap: nowrap;
  flex-grow: 0;
  padding: 1vw;
  overflow: hidden;
  list-style: none;
  border: solid 0.15vw #ffffff;
  /* border-image-source: linear-gradient(to right, #1cf7ff, #00c3ff); */
  font-size: 4vw;
  font-family: "Montserrat", sans-serif;
}

/* Table column sizing
  ================================== */

.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}
/* Page styling
  ================================== */
@font-face {
  font-family: "Londrina Solid";
  src: url("../fonts/LondrinaSolid-Regular.ttf");
}

/* table heads */

div.numbers {
  padding-right: 0.2vw;
  text-align: center;
}

.letters {
  text-align: center;
  padding-bottom: 0;
}
/* Button styling */
.place {
  background-color: var(--orange);
  background-image: linear-gradient(to top, var(--orange) 0%, var(--red) 100%);

  font-size: 0;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.place:hover {
  background: linear-gradient(to bottom, var(--green) 5%, #61b350 100%);
  cursor: pointer;
  box-sizing: border-box;
}

.disabled {
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    var(--purple) 0%,
    var(--red) 100%
  );
}

/* Teams */

#teamsContainer {
  position: relative;
  margin: auto;
}
.team {
  margin: 0 2vw 0 0;
  text-align: center;
  float: left;
}
.team h4 {
  font-size: 3vw;
  margin: 1vw auto 0 auto;
}

.points {
  font-size: 2vw;
  padding-bottom: 1vw;
}

.skipTurn {
  margin-top: 1vw;
}
/* Typhoon gif */

#TyphoonGif {
  position: relative;
  visibility: hidden;
  height: 49vw;
  margin: 0 auto;
  background-image: url("../img/typhoongif.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 9999;
}

/* modal */

.logo {
  font-size: 4vw;
  margin: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%);
  width: 50vw;
  max-height: 90vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 2vw;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: bounceInDown;
  animation-duration: 1.5s;
}

@keyframes bounceInDown {
  0% {
    top: -500%;
  }
  70% {
    top: 50%;
  }
  85% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}

@keyframes disappear {
  0% {
    width: 50vw;
  }
  100% {
    width: 0;
  }
}

/* operator checkbox */

.operator-container {
  display: felx;
  flex-wrap: wrap;
  margin-bottom: -2vw;
  margin-top: -2vw;
}
.checkbox-container {
  display: flex;
  float: left;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.operator-label {
  display: flex;
  font-family: "Montserrat", sans-serif;
  padding: 0 1vw;
  font-size: 3vw;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: "";
  width: 1vw;
  height: 1vw;
  padding: 1vw 1vw;
  border: 0.2vw solid black;
  border-radius: 30%;
}

.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label::before {
}

.checkbox-container input[type="checkbox"]:focus + label::before {
  border-color: var(--red);
}

.checkbox-container input[type="checkbox"]:disabled + label,
.checkbox-container input[type="checkbox"]:disabled {
  color: #aaa;
  cursor: default;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  content: "\002714";
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  animation-name: popIn;
  animation-duration: 1s;
}

.checkbox-container input[type="checkbox"]:disabled + label::before {
  background-color: #ccc;
  border-color: #999;
}

/* hover animations */

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* popIn */

@keyframes popIn {
  0% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  80% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.popInLeft {
  -webkit-animation-name: popInLeft;
  animation-name: popInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.message {
  font-size: 3vw;
  margin: 1vw 0;
}
.btn {
  color: inherit;
  font-family: inherit;
  font-size: 2vw;
  background: white;
  max-height: 5vw;
  padding: 0.4vw 1vw;
  border: 0.2vw solid black;
  margin-right: 2.6vw;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  outline: none;
}

.btn:hover {
  box-shadow: 0.4vw 0.4vw 0 black;
  transform: translate(-0.4vw, -0.4vw);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.btn.round-corners {
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.plus {
  background-image: url(../img/plus.svg);
  background-position: center;
  background-size: 1vw;
  background-repeat: no-repeat;
}

.minus {
  background-image: url(../img/minus.svg);
  background-position: center;
  background-size: 1vw;
  background-repeat: no-repeat;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* get extra space for the reset and go buttons */
div.options + div.options {
  margin-top: 3vw;
}

/* remove effects from number of teams */
.no-effects:hover {
  box-shadow: none;
  transform: translate(0, 0);
}

/* modal animation */
